<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sghy1801.dao.TemperatureMapper">

    <resultMap id="temmap" type="Temperature">
        <result property="id" column="id"></result>
        <result property="machineid" column="machineid"></result>
        <result property="temperature" column="temperature"></result>
        <result property="temtime" column="temtime"></result>
    </resultMap>




    <insert id="addTemperature">
        INSERT INTO temperature(temperature,machineID) VALUES (#{temperature},#{machineID})
    </insert>


    <delete id="delTemperatureByTime">
        DELETE FROM temperature WHERE temtime > #{temtime}
    </delete>


    <select id="getHoursTemperature" resultType="java.util.HashMap" >
        SELECT DATE_FORMAT(`temtime`,"%Y-%m-%d-%H")AS hours,DATE_FORMAT(`temtime`,"%Y-%m-%d")AS days,SUM(`temperature`)/COUNT(id) AS hoursavg
        from temperature as t
        WHERE machineID = #{machineID}
        <if test="oldtime!=null and newtime!=null">
            AND temtime BETWEEN #{oldtime} and #{newtime}
        </if>

        group by DATE_FORMAT(`temtime`,"%Y-%m-%d-%H") asc
    </select>


    <select id="getDaysTemperature" resultType="java.util.HashMap">
        SELECT DATE_FORMAT(`temtime`,"%Y-%m-%d")AS days,SUM(`temperature`)/COUNT(id) AS daysavg
        from temperature as t
        WHERE machineID = #{machineID}
        <if test="oldtime!=null and newtime!=null">
            AND temtime BETWEEN #{oldtime} and #{newtime}
        </if>
        group by DATE_FORMAT(`temtime`,"%Y-%m-%d") desc
    </select>


    <select id="getLastTemperature" resultType="com.sghy1801.entity.Temperature">
        SELECT temperature from temperature
        where machineID = #{machineID}
        order by temtime desc
        limit 0,1
    </select>

   
</mapper>