<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sghy1801.dao.UserMapper">


    <!--登录-->
    <select id="login" resultType="User">
        select * from USER where phone=#{phone} and password=#{password}
    </select>
    <!--查询所有用户-->
    <select id="listUser" resultType="User">
        select * from USER
        <where>
            <if test="username!=null">
                and username like concat('%',#{username},'%')
            </if>
            <if test="phone!=null">
                and phone= #{phone}
            </if>
        </where>
        limit #{start},4
    </select>
    <!--查询数量-->
    <select id="countUser" parameterType="map" resultType="java.lang.Integer">
        select count(*) from USER
        <where>
            <if test="username!=null">
                and username like concat('%',#{username},'%')
            </if>
            <if test="phone!=null">
                and phone= #{phone}
            </if>
        </where>
    </select>

    <!--添加用户-->
    <insert id="addUser" parameterType="User">
        insert into USER (username,password,gender,phone,email,address,userorman)
        values(#{username},#{password},#{gender},#{phone},#{email},#{address},#{userorman})
    </insert>
    <!--删除用户-->
    <delete id="deleteUser" parameterType="int">
        delete from USER where id=#{id}
    </delete>

    <!--更新用户-->
    <update id="updateUser" parameterType="User">
        update USER set
        username=#{username},
        password=#{password},
        phone=#{phone},
        email=#{email},
        address=#{address},
        state=#{state}
        where id=#{id}
    </update>

    <select id="findById" parameterType="int" resultType="User">
        SELECT  * FROM USER WHERE id = #{id}
    </select>

    <select id="getDate" resultType="java.util.Map">
        select count(registerDate) num,DATE_FORMAT(registerDate,"%Y-%m") registerDate from user
        group by DATE_FORMAT(registerDate,"%Y-%m")
    </select>

</mapper>