<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sghy1801.dao.UserMapper">

    <resultMap type="User" id="userList">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>

    </resultMap>

    <!--登录-->
    <select id="login" resultType="User">
        select * from USER where username=#{username} and password=#{password}
    </select>
    <!--查询所有用户-->
    <select id="userList" resultMap="userList">
        select * from USER
    </select>


</mapper>