<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sghy1801.dao.UserMapper">


    <!--登录-->
    <select id="login" resultType="User">
        select * from USER where username=#{username} and password=#{password}
    </select>
    <!--查询所有用户-->
    <select id="listUser" resultType="User">
        select * from USER

        limit #{start},4
    </select>
    <!--查询数量-->
    <select id="countUser" resultType="java.lang.Integer" parameterType="map">
        select count(*) from USER

    </select>

    <!--添加用户-->
    <insert id="addUser" parameterType="User">
        insert into USER (username,password,gender,phone,email,address,userorman)
        values(#{username},#{password},#{gender},#{phone},#{email},#{address},#{userorman})
    </insert>
    <!--删除用户-->
    <delete id="deleteUser" parameterType="int">
        delete from USER where id=#{id}
    </delete>

    <!--更新用户-->
    <update id="updateUser" parameterType="User">
        update USER set
        username=#{username},
        password=#{password},
        gender=#{gender},
        phone=#{phone},
          email=#{email},
        address=#{address},
        userorman=#{userorman}
        where id=#{id}
    </update>

    <select id="findById" parameterType="int" resultType="User">
        SELECT  * FROM USER WHERE id = #{id}
    </select>

    <select id="getDate" resultType="java.util.Map">
        select count(createdate) num,createdate from user
        group by DATE_FORMAT(createdate,"%Y-%m")

    </select>
</mapper>