<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sghy1801.dao.YuceMapper">


    <select id="getAllYuce" resultType="com.sghy1801.entity.Yuce">
        select * from yuce
    </select>
</mapper>